html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    font-family: "Noto Sans CJK SC", "Source Han Sans CN", "PingFangSC-Regular", "Microsoft YaHei", sans-serif;
}

body {
    margin: 0 auto;
    padding: 0;
    width: 90%;
    min-width: 900px;
    max-width: 1200px;
    height: auto;
    color: rgb(85, 85, 85);
    padding-bottom: 2em;
}

h1 {
    text-align: right;
    height: 3em;
    line-height: 3em;
    border-bottom: solid 3px rgb(85, 85, 85);
    margin: 0 0 1.5em 0;
    padding-right: 1.5em;
}

p {
    line-height: 1.7em;
    margin-left: 1em;
}

a {
    color: rgb(27, 117, 188);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-decoration: none;
}

table {
    width: auto;
    min-width: 700px;
    border-collapse: collapse;
}

th {
    color: #FFF;
    background-color: rgb(180, 180, 180);
    border: solid 1px rgb(255, 255, 255);
    height: 1.7em;
    line-height: 1.7em;
    padding: 0.2em 1em 0.2em 1em;
}

td {
    text-align: center;
    background-color: rgb(240, 240, 240);
    border: solid 1px rgb(255, 255, 255);
    height: 1.7em;
    line-height: 1.7em;
    text-align: center;
    padding: 0.2em 1em 0.2em 1em;
}

.gray {
    margin: 0 auto;
    background-color: rgb(240, 240, 240);
    width: 90%;
    padding: 1em 2em 1em 2em;
}

.center {
    display: flex;
    display: -webkit-flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}